* {
	margin: 0;
	padding: 0;
}

.auth-wrapper {
	padding: 148px 0 0 10%;
}

.container {
	width: 500px;
	height: 460px;
	background: #f4f4f4;
}

.auth-div {
	width: 400px;
	height: 40px;
	overflow: hidden;
	margin: 0 0 19px 0;
}

.auth-input {
	display: block;
	font: normal 16px 'Roboto', sans-serif;
	border: solid 1px #acadaf;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	outline: none;
}

.auth-button-div {
	width: 146px;
	height: 37px;
	overflow: hidden;
	padding: 50px 0 0 156px;
}

.auth-btn {
	padding: 7px;
	background: #ff9000;
	font: 16px 'Roboto', sans-serif;
	width: 100%;
	border-radius: 5px;
	outline: none;
	color: white;
	text-decoration: none;
	display: inline-block;
	border: none;
	cursor: pointer;
}

.auth-btn:hover{}
.auth-btn:active{}