@font-face {
	font-family: "Roboto-Regular";
	src: url("../fonts/Roboto-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Lato-Black";
	src: url("../fonts/Lato-Black.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Lato-Regular";
	src: url("../fonts/Lato-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}
