<div class="tasks-calendar">
	<ul class="tasks-list">
		<li class="tasks-list__item">
			<a class="tasks-list__title _gray" href="#">
				<span class="tasks-list__text">Задачи</span>
				<span class="tasks-list__btn"></span>
			</a>
		</li>
		<li class="tasks-list__item" data-progress:"_done">
			<a class="tasks-list__title" href="#">
				<span class="tasks-list__text">{{tasks}}</span>
			</a>
		</li>
		<li class="tasks-list__item" data-progress="_delay">
			<a class="tasks-list__title" href="#">
				<span class="tasks-list__text">{{name}}</span>
			</a>
		</li>
		<li class="tasks-list__item" data-progress:"_proc">
			<a class="tasks-list__title" href="#">
				<span class="tasks-list__text">{{name}}</span>
			</a>
		</li>
	</ul>
	<div class="calendar">
		<div class="calendar__year">
			<div class="calendar__year-month">Декабрь 2016</div>
			<div class="calendar__year-month">Январь 2017</div>
		</div>
		<div class="calendar__days">
			<div class="calendar__day">
				<div class="calendar__date">1</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">2</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day _weekend">
				<div class="calendar__date">3</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day _weekend">
				<div class="calendar__date">4</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">5</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">6</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">7</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">8</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">9</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day _weekend">
				<div class="calendar__date">10</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day _weekend">
				<div class="calendar__date">11</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">12</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">13</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">14</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">15</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">16</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day _weekend">
				<div class="calendar__date">17</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day _weekend">
				<div class="calendar__date">18</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">19</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">20</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">21</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">22</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">23</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day _weekend">
				<div class="calendar__date">24</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day _weekend">
				<div class="calendar__date">25</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">26</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">27</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">28</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">29</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">30</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day _weekend">
				<div class="calendar__date">31</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day _weekend">
				<div class="calendar__date">1</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">2</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">3</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">4</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">5</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">6</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day _weekend">
				<div class="calendar__date">7</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day _weekend">
				<div class="calendar__date">8</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">9</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">10</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">11</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">12</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">13</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day _weekend">
				<div class="calendar__date">14</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day _weekend">
				<div class="calendar__date">15</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">16</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">17</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">18</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">19</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">20</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day _weekend">
				<div class="calendar__date">21</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day _weekend">
				<div class="calendar__date">22</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">23</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">24</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">25</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">26</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">27</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day _weekend">
				<div class="calendar__date">28</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day _weekend">
				<div class="calendar__date">29</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">30</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__day">
				<div class="calendar__date">31</div>
				<div class="calendar__inner"></div>
			</div>
			<div class="calendar__task-line _index_1">
				<span class="calendar__progress _done"></span>
			</div>
			<div class="calendar__task-line _index_2">
				<span class="calendar__progress _delay"></span>
			</div>
			<div class="calendar__task-line _index_3">
				<div class="calendar__progress _proc"></div>
			</div>
		</div>
	</div>
</div>