<!--<div class="tasks">-->
	<!--<button class="tasks__btn" type="submit">+ добавить задачу</button>-->
	<!--<div class="tasks__item_link">-->
		<!--<a class="tasks__item _color_blue" href="#">3</a>-->
		<!--<a class="tasks__item _link_blue" href="#">Действующих</a>-->
		<!--<a class="tasks__item _color_red" href="#">1</a>-->
		<!--<a class="tasks__item _link_red" href="#">Просроченных</a>-->
		<!--<a class="tasks__item _color_gray" href="#">3</a>-->
		<!--<a class="tasks__item _link_gray" href="#">Выполненых</a>-->
	<!--</div>-->
<!--</div>-->
<div class="tasks">
	<button class="tasks__btn" type="submit">+ добавить задачу</button>
	<ul class="tasks-type__list">
		<li class="tasks-type__item">
			<label class="tasks-type__label _active">
				<span class="tasks-badge _active">3</span> Действующих
			</label>
		</li>
		<li class="tasks-type__item">
			<label class="tasks-type__label _overdue">
				<span class="tasks-badge _overdue">1</span> Просроченных
			</label>
		</li>
		<li class="tasks-type__item">
			<label class="tasks-type__label _done">
				<span class="tasks-badge _done">3</span> Выполненых
			</label>
		</li>
	</ul>
</div>
</div>
<div class="tasks-calendar">
	<ul class="tasks-list" id="tasks">
			<li class="tasks-list__item">
				<a class="tasks-list__title _gray" href="#">
					<span class="tasks-list__text">Задачи</span>
					<span class="tasks-list__btn"></span>
				</a>
			</li>
		<template id="taskTemplate" style="display: none">
			<li class="tasks-list__item">
				<a class="tasks-list__title" href="#">
					<span class="tasks-list__text">{{TODO}}</span>
					<span class="tasks-list__close">❌</span>
				</a>
			</li>
		</template>
	</ul>
	<div class="calendar">
		<div class="calendar__year">
			<div class="calendar__year-month">Март 2016</div>
			<!--<div class="calendar__year-month">Январь 2017</div>-->
		</div>
		<table class="calendar__days" id="task-table">
				<tr class="calendar__dates">
					<td class="calendar__date">1</td>
					<td class="calendar__date">2</td>
					<td class="calendar__date">3</td>
					<td class="calendar__date">4</td>
					<td class="calendar__date">5</td>
					<td class="calendar__date">6</td>
					<td class="calendar__date">7</td>
					<td class="calendar__date">8</td>
					<td class="calendar__date">9</td>
					<td class="calendar__date">10</td>
					<td class="calendar__date">11</td>
					<td class="calendar__date">12</td>
					<td class="calendar__date">13</td>
					<td class="calendar__date">14</td>
					<td class="calendar__date">15</td>
					<td class="calendar__date">16</td>
					<td class="calendar__date">17</td>
					<td class="calendar__date">18</td>
					<td class="calendar__date">19</td>
					<td class="calendar__date">20</td>
					<td class="calendar__date">21</td>
					<td class="calendar__date">22</td>
					<td class="calendar__date">23</td>
					<td class="calendar__date">24</td>
					<td class="calendar__date">25</td>
					<td class="calendar__date">26</td>
					<td class="calendar__date">27</td>
					<td class="calendar__date">28</td>
					<td class="calendar__date">29</td>
					<td class="calendar__date">30</td>
					<td class="calendar__date">31</td>
				</tr>
		</table>
	</div>
</div>
<div class="message">
	<template id="emptyTaskTemplate" style="display: none">
		<span class="message__tasks-empty">Активных задач нет</span>
	</template>
</div>