<div class="goal">
	<div class="goal-info">
		<div class="goal-header">
			<h1 class="goal-header__title">Разработка рекламной компании на НГ</h1>
		</div>
		<ul class="goal-indicators">
			<li class="goal-indicators__item">
				<label class="goal-indicators__label _active">
					<span class="goal-badge _active">2</span> Действующих
				</label>
			</li>
			<li class="goal-indicators__item">
				<label class="goal-indicators__label _complete">
					<span class="goal-badge _complete">1</span> Выполненных
				</label>
			</li>
		</ul>
	</div>
	<div class="goal-detail">
		<div class="goal-progress">
			<svg class="goal-chart">
				<text x="50%" y="90" class="goal-chart__caption">Выполнено</text>
				<text x="50%" y="125" class="goal-chart__percent">0%</text>
				<circle r="80" cx="100" cy="100" class="goal-chart__inactive"></circle>
				<circle r="80" cx="100" cy="100" class="goal-chart__active"
						transform="rotate(-90, 100, 100)"></circle>
			</svg>
		</div>
		<ul class="goal-task">
			<li class="goal-task__item">
				<input type="checkbox" class="goal-checkbox" id="checkbox1" checked="checked">
				<label for="checkbox1" class="goal-task__label">Наружная реклама</label>
			</li>
			<li class="goal-task__item">
				<input type="checkbox" class="goal-checkbox" id="checkbox2" checked="checked">
				<label for="checkbox2" class="goal-task__label">Баннеры для контекной рекламы</label>
			</li>
			<li class="goal-task__item">
				<input type="checkbox" class="goal-checkbox" id="checkbox3" checked="checked">
				<label for="checkbox3" class="goal-task__label">Баннеры для SMM</label>
			</li>
			<li class="goal-task__item">
				<input type="checkbox" class="goal-checkbox" id="checkbox4" checked="checked">
				<label for="checkbox4" class="goal-task__label">Лендинг для корпоратива</label>
			</li>
			<li class="goal-task__item">
				<input type="checkbox" class="goal-checkbox" id="checkbox5">
				<label for="checkbox5" class="goal-task__label">Креатив на афишу</label>
			</li>
			<li class="goal-task__item">
				<input type="checkbox" class="goal-checkbox" id="checkbox6">
				<label for="checkbox6" class="goal-task__label">Отрисовка баннеров</label>
			</li>
		</ul>
	</div>
</div>