<ul class="mobile-tasks__list">
	<li class="mobile-tasks__item">
		<ul class="mobile-task__list">
			<li class="mobile-task__item _name">
				<p>Author Task</p>
			</li>
			<li class="mobile-task__item _status">
				<p>Author Task</p>
			</li>
			<li class="mobile-task__item _date">
				<p>Author Task</p>
			</li>
			<li class="mobile-task__item _time">
				<p>Author Task</p>
			</li>
			<li class="mobile-task__item _author">
				<p>Author Task</p>
			</li>
			<li class="mobile-task__item _more">
				<p>Author Task</p>
			</li>
		</ul>
	</li>
	<li class="mobile-tasks__item">
		<ul class="mobile-task__list">
			<li class="mobile-task__item _name">
				<p>Author Task</p>
			</li>
			<li class="mobile-task__item _status">
				<p>Author Task</p>
			</li>
			<li class="mobile-task__item _date">
				<p>Author Task</p>
			</li>
			<li class="mobile-task__item _time">
				<p>Author Task</p>
			</li>
			<li class="mobile-task__item _author">
				<p>Author Task</p>
			</li>
			<li class="mobile-task__item _more">
				<p>Author Task</p>
			</li>
		</ul>
	</li>
	<li class="mobile-tasks__item">
		<ul class="mobile-task__list">
			<li class="mobile-task__item _name">
				<p>Author Task</p>
			</li>
			<li class="mobile-task__item _status">
				<p>Author Task</p>
			</li>
			<li class="mobile-task__item _date">
				<p>Author Task</p>
			</li>
			<li class="mobile-task__item _time">
				<p>Author Task</p>
			</li>
			<li class="mobile-task__item _author">
				<p>Author Task</p>
			</li>
			<li class="mobile-task__item _more">
				<p>Author Task</p>
			</li>
		</ul>
	</li>
</ul>