<div class="fixed-wrap fixed-wrap__modal">
	<div class="modal">
		<div class="modal-container">
			<div class="move-container"></div>
			<input class="modal__input" required="required" type="text" id="input-form" placeholder="Введите название цели">
			<button class="modal__btn" type="submit" id="add">Поставить задачу</button>
			<div class="modal__error" id="error"></div>
			<div class="wrapper-calendar">
				<p class="calendar__deadline">Крайний срок</p>
				<input type="text" id="datetimepicker">
			</div>
		</div>
	</div>
</div>