<div class="user">
	<div class="contact-info">
	<div class="contact-info__image">
	</div>
	<div class="contact-info__name">
		<h2 class="contact-info__item _fio">
			Фамилия Имя
		</h2>
		<h3 class="contact-info__item">
					<span class="contact-info__item _color_gray">
						Компания:
					</span>
			Company Name
		</h3>
		<h3 class="contact-info__item">
					<span class="contact-info__item _color_gray">
						Кол-во задач:
					</span>
			6
		</h3>
		<h3 class="contact-info__item">
					<span class="contact-info__item _color_gray">
					Кол-во целей:
					</span>
			1
		</h3>
	</div>
</div>