body {
	height: 900px;
	position: relative;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	transform: translate(-50%, -50%);  
	background: #f4f4f4;	
}

.auth-form {
	/* Пустой класс. Оо Вроде это не хорошо*/
}
.auth-form__action {
	margin-top: 80%;
	text-align: center;
}
.auth-form__link {
	padding: 5px;
	font-family: "Roboto-Regular", sans-serif;
}