html, body {
	margin: 0;
	padding: 0;
}

.auth {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 460px;
	min-width: 140px;
	min-height: 230px;
	transform: translate(-50%, -50%);
	background: #f4f4f4;
}

.login {
	margin: 0 0 60px;
}

.login__input {
	display: block;
	width: 80%;
	min-height: 40px;
	padding: 12px;
	margin: 0 auto 20px;
	font: 16px "Roboto-Regular", sans-serif;
	border: solid 1px #acadaf;
	box-sizing: border-box;
	outline: none;
}

::placeholder {
	color: #ccc;
	text-indent: 0;
	transition: opacity .75s;
}

:focus::placeholder {
	text-indent: 100%;
	opacity: 0;
	transition: opacity .5s, text-indent 1s;
}

.login__submit {
	display: block;
	min-height: 40px;
	width: 50%;
	margin: auto;
	background: #ff9000;
	font: 16px "Roboto-Regular", sans-serif;
	border-radius: 5px;
	outline: none;
	color: #fff;
	text-decoration: none;
	border: none;
	cursor: pointer;
}

.login__submit:hover {
	opacity: .8;
}

.auth__action {
	text-align: center;
	margin: 0 0 40px;
}

.auth__link {
	padding: 5px;
	font: 16px "Roboto-Regular", sans-serif;
	color: #3a8bc0;
}

.auth__link:hover {
	opacity: .8;
}

.social {
	list-style: none;
	font-size: 0;
	padding: 0;
	margin: 0 0 55px;
}

.social__item {
	display: inline-block;
	width: 33.3%;
}

.social__item:hover {
	opacity: .8;
}

.social__image {
	width: 100%;
	max-height: 93px;
}

.social__item._vk {
	background: #54769b;
}

.social__item._tw {
	background: #55acef;
}

.social__item._fb {
	background: #46609b;
}

.task-calendar {
	position: absolute;
	top: 300px;
	left: 140px;
	width: 1170px;
	min-height: 180px;
	border: solid .5px #eef2f4;
	background: #fff;
}

.tasks {
	max-width: 250px;
	min-height: 180px;
	border: solid 1px #eef2f4;
}

.tasks__list {
	margin-top: 20px;
	max-width: 100%;
	padding: 0;
	font-size: 0;
}

.task__item-title {
	list-style-type: none;
}

.task__item {
	display: list-item;
	height: 35px;
	list-style-type: none;
	border-bottom: solid 1px #eef2f4;
}

.task__item:hover {
	background-color: #eef2f4;
	opacity: .5;
}

.task__title {
	display: inline-block;
	text-transform: uppercase;
	font: 12px 'Lato-Regular', sans-serif;
	color: #686867;
}

.task__title._grey {
	min-height: 40px;
	min-width: 210px;
	padding: 10px 10px;
	box-sizing: border-box;
	background: #eef2f4;
}

.task__text {
	margin-left: 5px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	cursor: pointer;
}

.task__text._black {
	font: 13px 'Lato-Regular', sans-serif;
}

.task__button._down {
	display: inline-block;
	position: absolute;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url('../img/down-arrow.min.svg')  center/cover no-repeat;
	background-size: 50% 50%;
	background-color: #686867;
}

.task__button._down:hover {
	opacity: .8;
}