html,
body {
	margin: 0;
}

body {
	padding: 110px 135px;
}

.contact-info__image,
.contact-info__name,
.tasks__item_link,
.tasks__item {
	display: inline-block;
}

.contact-info {
	margin: 0 0 70px;
	min-width: 640px;
}

.contact-info__name {
	vertical-align: top;
}

.contact-info__image {
	min-width: 85px;
	min-height: 85px;
	margin: 0 10px 0 0;
	border: 5px solid #d0d3d0;
	border-radius: 50%;
}

.contact-info__item._fio {
	font: 16px "Roboto-Regular";
	margin: 0 0 10px;
}

.contact-info__item {
	font: 12px "Roboto-Regular";
	margin: 0 0 5px 0;
}

.contact-info__item._color_gray {
	color: #d0d3d0;
	font: 14px "Roboto-Regular";
}

.tasks {
	min-width: 960px;
}

.tasks__item,
.tasks__link {
	text-decoration: none;
}

.tasks__btn {
	margin: 0 90px 0 0;
	font: 14px "Roboto-Regular";
	min-width: 170px;
	min-height: 35px;
	background: #3bc8f5;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	color: #fff;
	text-transform: uppercase;
}

.tasks__item._color_blue {
	font: 14px "Roboto-Regular";
	min-width: 30px;
	min-height: 23px;
	border-radius: 50%;
	background: #3bc8f5;
	text-align: center;
	padding: 5px 0 0;
	color: #fff;
}

.tasks__item._color_red {
	font: 14px "Roboto-Regular";
	min-width: 30px;
	min-height: 23px;
	border-radius: 50%;
	background: #ff6762;
	text-align: center;
	padding: 5px 0 0;
	color: #fff;f
}

.tasks__item._color_gray {
	font: 14px "Roboto-Regular";
	min-width: 30px;
	min-height: 23px;
	border-radius: 50%;
	background: #90a7b2;
	text-align: center;
	padding: 5px 0 0;
	color: #fff;
}

.tasks__item._link_blue {
	font: 14px "Roboto-Regular";
	color: #3bc8f5;
	margin: 0 20px 0 0;
}

.tasks__item._link_red {
	font: 14px "Roboto-Regular";
	color: #ff6762;
	margin: 0 20px 0 0;
}

.tasks__item._link_gray {
	font: 14px "Roboto-Regular";
	color: #90a7b2;
}
