<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="styles/build.min.css" rel="stylesheet">
		<title>FirstProject / Index</title>
	</head>
	<body>
		<div class="wrapper">
			{{> user}}
			{{> calendar}}
			{{> goal}}
		</div>
		<script src="scripts/script.min.js"></script>
	</body>
</html>
