.form.menu.social {
	min-width: 640px;
}
.form.menu_list { 
	list-style: none;
}
.form.menu_check {
	float: left;
	width: 153px;
	height: 93px;
}
.social-svg {
	width: 153px;
	height: 93px;
}
.menu_check.vk {
	background: #54769b;
} 
.menu_check.tweet {
	background: #55acef;
}
.menu_check.fb {
	background: #46609b;
}
